<nav class="navbar fixed-top navbar-dark bg-dark header-container">
    <a class="navbar-brand" href="/">
        <img src="/assets/favicon-32x32.png" width="30" height="30" class="d-inline-block align-top" alt="icon"
            loading="lazy">
        Mr. DIRT
    </a>
    {{#unless user}}
    <a href="https://discord.com/api/oauth2/authorize?client_id=739490722151137330&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2F&response_type=token&scope=identify%20email%20guilds"
        class="btn btn-outline-success my-2 my-sm-0">{{label "I18N_LOGIN"}}</a>
    {{/unless}}
    {{#if user}}
    <div class="form-inline">
        <div class="dropdown mr-2">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img width="30" height="30"
                    src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/{{user.selectedLocale}}.svg">
                {{label (append "I18N_LOCALE_" (upcase user.selectedLocale)) }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" onclick="setLocale('fr')">
                    <img width="30" height="30"
                        src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/fr.svg">
                    {{label "I18N_LOCALE_FR"}}
                </a>
                <a class="dropdown-item" href="#" onclick="setLocale('gb')">
                    <img width="30" height="30"
                        src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/gb.svg">
                    {{label "I18N_LOCALE_GB"}}
                </a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img width="30" height="30" class="rounded-circle"
                    src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.png">
                {{user.username}}#{{user.discriminator}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/account">
                    <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="/assets/bootstrap-icons.svg#person-square" />
                    </svg>
                    {{label "I18N_MY_ACCOUNT"}}
                </a>
                <a class="dropdown-item" href="/guilds">
                    <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="/assets/bootstrap-icons.svg#shield-shaded" />
                    </svg>
                    {{label "I18N_MY_GUILDS"}}
                </a>
                <a class="dropdown-item" style="color:red" href="#" onclick="logout()">
                    <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="/assets/bootstrap-icons.svg#x-square" />
                    </svg>
                    {{label "I18N_LOGOUT"}}
                </a>
            </div>
        </div>
    </div>
    {{/if}}
</nav>

<script src="/js/header.js"></script>