{{> header}}

{{> private_menu}}

{{#each list}}
<div class="card mx-auto {{#not @last}}mb-3{{/not}}" style="max-width: 600px; border:none; ">
    <div class="row no-gutters"
        style="border:none; border-left-style: outset;border-left-width: 20px;border-left-color: #343a40; border-radius: 3px;">
        <div class="col-md-2">
            {{#unless icon}}
            <img width="92" height="92" class="rounded-circle" src="/assets/poop.png"
                style="margin-left: 4px; margin-top: 4px">
            {{/unless}}
            {{#if icon}}
            <img width="92" height="92" class="rounded-circle"
                src="https://cdn.discordapp.com/icons/{{id}}/{{icon}}.png"
                style="margin-left: 4px; border: 2px solid; margin-top: 4px">
            {{/if}}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                {{#unless installed}}
                <a href="#" class="btn btn-primary float-right">{{label "I18N_INSTALL" ""}}</a>
                {{/unless}}
                {{#if installed}}
                <a href="/dashboard/{{id}}" class="btn btn-success float-right">{{label "I18N_DASHBOARD" ""}}</a>
                {{/if}}
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">
                    {{label "I18N_OWNER" ""}}
                    :
                    {{#unless owner}}
                    {{label "I18N_NO" ""}}
                    {{/unless}}
                    {{#if owner}}
                    {{label "I18N_YES" ""}}
                    {{/if}}
                </p>
            </div>
        </div>
    </div>
</div>
{{/each}}